body {
  background-color: black;
}

.navBar {
  color: white;
  margin: 10px;
  display: flex;
  justify-content: end;
}
.navBar a {
  padding: 15px;
  display: flex;
  text-decoration: none;
  text-align: center;
  color: white;
  font-family: sans-serif;
}
.navBar a:hover {
  color: rgb(55, 205, 55);
}
.navBar ul {
  list-style-type: none;
}
.navBar li {
  float: left;
  text-decoration: none;
}
.header-xxxl {
  font-size: 3.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}
.header-xxl {
  font-size: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}
.header-xl {
  font-size: 1rem;
  color: white;
}
.name {
  color: rgb(55, 205, 55);
}
.myImage {
  width: 100%;
}
.myImageContainer {
  width: 50%;
}
.introductionWrapper {
  display: flex;
}
.introductionContainer {
  padding-left: 70px;
  width: 50%;
  color: white;
}
.myCvBtn {
  color: white;
  background-color: black;
  border-color: white;
  font-size: 2rem;
  display: flex;
}
a {
  color: white;
  text-decoration: none;
}
.myCvBtn :hover {
  color: rgb(55, 205, 55);
  
}
.abtMecontainer {
  margin-top: 100px;
  padding-left: 30%;
  width: 50%;
}
.para {
  color: white;
 
}
.rcContainer {
  display: flex;
  align-items: center;
}
.row {
  padding: 5px ; 
  flex-direction: row;
}

.bi-chevron-right {
  color: rgb(55, 205, 55);
  font-size: 1rem;
}
.preInfo{
  color: white;
  padding: 5px;
  font-weight: bolder;
}
.info {
  color: white;
  padding: 5px;
}
.projects{
  margin-top: 100px;
  margin-left: 30%;
  width: 30%;
}
.projectName{
  color: white;
  display: flex;
  justify-content: center;
  font-weight: bolder;
  padding-bottom: 5px;
}
.imageContainer{
  margin-top: 50px;
   width: 100%; 
  display: flex;
  margin-left: 15%;
  flex-direction: row;
}
.imageContainer2{
  display: flex;
  margin-left: 15%;
  flex-direction: row;
  margin-top: 5px;

}
.image{
  width: 250px; 
  padding: 10px 10px;
}
.image :hover{
  border-style: double;
  border-color: rgb(55, 205, 55);
  border-spacing: 2px;
  cursor: pointer;
}
.form{
  margin-top: 400px;
}
.credentials{
  color:rgb(55, 205, 55);
}