body{
  scroll-behavior: smooth;
  width: 100%;
  overflow-x: hidden;
  background-color: black;
  margin: 0;
}
.navBar {
  color: white;
  margin: 10px;
  display: flex;
  justify-content: end;
}
.navBar a {
  padding: 15px;
  display: flex;
  text-decoration: none;
  text-align: center;
  color: white;
  font-family: sans-serif;
}
.navBar a:hover {
  color: rgb(55, 205, 55);
}
.navBar ul {
  list-style-type: none;
}
.navBar li {
  float: left;
  text-decoration: none;
}
.header-xxxl {
  font-size: 3.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}
.dot{
  color: rgb(55, 205, 55)
}
.header-xxl {
  font-size: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}
.header-xl {
  font-size: 1rem;
  color: white;
}
.name {
  color: rgb(55, 205, 55);
}
.myImage {
  width: 90%;
}
.myImageContainer {
  width: 50%;
}
.introductionWrapper {
  display: flex;
}
.introductionContainer {
  padding-left: 70px;
  width: 50%;
  color: white;
}
.myCvBtn {
  color: white;
  background-color: black;
  border-color: white;
  font-size: 2rem;
  display: flex;
}
a {
  color: white;
  text-decoration: none;
}
.myCvBtn :hover {
  color: rgb(55, 205, 55);
  
}
.abtMecontainer {
  margin-top: 100px;
  padding-left: 30%;
  width: 50%;
}
.para {
  color: white;
 
}
.rcContainer {
  display: flex;
  align-items: center;
}
.row {
  padding: 5px ; 
  flex-direction: row;
}

.bi-chevron-right {
  color: rgb(55, 205, 55);
  font-size: 1rem;
}
.preInfo{
  color: white;
  padding: 5px;
  font-weight: bolder;
}
.info {
  color: white;
  padding: 5px;
}
.projects{
  margin-top: 5%;
  padding-left: 30%;
  width: 40%;
}
.projectName{
  color: white;
  display: flex;
  justify-content: center;
  font-weight: bolder;
  padding-bottom: 5px;
}
.imageContainer{
  width: 100%;
  margin: 5% 0;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.image{
  width: 250px; 
  padding: 10px 10px;
  display: flex;
}
.image:hover{
  border-style: double;
  border-color: rgb(55, 205, 55);
  border-spacing: 2px;
  cursor: pointer;
  transform: scale(1.05);
  transition: 0.6s;
}
.reactprojects{
  margin-top: 5%;
  padding-left: 30%;
  width: 40%;
}
.reactprojectname{
  color: white;
  display: flex;
  justify-content: center;
  font-weight: bolder;
  padding-bottom: 5px;
}
.reactimagecontainer{
  width: 100%;
  margin: 5% 0;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
 
}
.reactimage{
  width: 250px;
  padding: 10px 20px;
  display: flex;
}
.reactimage:hover{
  border-style: double;
  border-color: rgb(55, 205, 55);
  border-spacing: 2px;
  cursor: pointer;
  transform: scale(1.05);
  transition: 0.6s;
}
.form{
  width: 50%;
  display: flex;
 margin-left: 30%;
 margin-bottom: 50px;
}
.credentials{
  color:white;
  padding: 5px 5px;
  display: flex;
  font-size: 2rem; 
}
.textBox{
  width: 100%;
  height: 5%;
}
.msgBox{
  width: 100%;
  height: 70px;
}
.submit{
  margin-top: 20px;
  background-color: black;
  color: white;
  padding: 5px 5px;
  font-size: 15px;
  border-color: white;
  display: flex;
  margin-bottom: 20px;
}
.submit:hover{
  cursor: pointer;
  color:rgb(55, 205, 55) ;
}
@media(max-width:500px){
  .introductionWrapper{
    flex-direction:column;
  }
  .myImageContainer{
    width: 100%;
    margin-top: 5%;
  }
  .introductionContainer{
    width: 100%;
    padding-left: 30px;
  }
  .abtMecontainer{
    width: 100%;
    padding-left: 10px;
  }
  .projects{
    padding: 10px;
    width: 100%;
  }
  .rcContainer{
    width: 100%;
    padding: 10px;
  }
  .row{
    width: 100%;
    
  }
  .column{
    width: 100%;
 
  }
  .reactjsprojects{
    padding: 10px;
    width: 100%;
  }
  .form{
    width: 100%;
    
  }
}
 